
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #395144;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  span {
    float: right;
  }

  .specials {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }

  .soup {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }

  .starter  {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }

  .tikka {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }

  .chinese  {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }

  .desserts  {
    width: 100%;
    border: 3px solid #9F91CC;
    border-radius: 20px;
  }
  p {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    padding: 5px;
    color: #F0EBCE;
  }

  h2 {
    text-align: center;
    border: 2px solid #5C4B99;
    border-radius: 80px;
    text-transform: uppercase;
    color: #F0EBCE;
    font-size: 40PX;
    font-weight: 700;
  }
h1 {
  font-size: 80px;
  color: #F0EBCE;
  border: 5px outset cornflowerblue;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-align: center;
  padding: 10px 10px;
}

.end{
  font-family: cursive;
  font-size: 3em;
}

@media (min-width: 300px) {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
  }
}
@media screen, print {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
  }
}